// Here you can add other styles

.bg-active {
  background-color: var(--cui-body-bg);
}

.separator {
  position: relative;
}

.separator::after {
  content: '';
  width: 100%;
}

.separator span {
  background-color: var(--cui-body-bg);
  color: var(--cui-body-color)
}

.Toastify__toast-theme--dark {
  background-color: var(--cui-body-bg);
  color: var(--cui-body-color)
}
.Toastify__toast-theme--light {
  background-color: var(--cui-body-bg);
  color: var(--cui-body-color)
}