// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$primary: #468571;

$form-switch-widths: (
  lg: (
    width: 1.75em,
    height: 1.25em
  ),
  xl: (
    width: 3em,
    height: 1.5em
  )
) !default;