.react-datepicker__input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.react-datepicker__view-calendar-icon input {
  padding: 5px 10px;
}

.react-datepicker {
  background-color: var(--cui-body-bg);
  color: var(--cui-body-color);
  border-color: var(--cui-body-bg);
}

/* .react-datepicker__day {
  color: var(--cui-body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
} */

.custom-day {
  color: var(--cui-body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  font-size: 14px;
}

.custom-day:hover {
  color: var(--cui-body-color);
  background-color: var(--cui-primary);
}

.react-datepicker__day:hover {
  color: var(--cui-body-bg);
  background-color: var(--cui-body-color);
}

.react-datepicker__day {
  color: var(--cui-body-color);
}

.react-datepicker__current-month {
  color: var(--cui-body-color);
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--cui-primary);
}

.react-datepicker__day--selected, .react-datepicker__day--selected-range {
  background-color: var(--cui-primary);
}

.react-datepicker__day-names {
  background-color: var(--cui-body-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-datepicker__day-name {
  color: var(--cui-body-color);
}

.react-datepicker__header {
  background-color: var(--cui-body-bg);
}
